################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
Articl8.Web.UI/node_modules/
/Articl8.Web.UI/wwwroot/lib/font-awesome/HELP-US-OUT.txt
