@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Welcome to the Articl8 website.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices, risus a luctus sollicitudin, leo mauris lobortis lacus, eget bibendum felis magna eget diam. Phasellus vehicula risus in velit scelerisque, congue pulvinar dui mollis. Praesent at diam nibh. Aenean nec lacinia eros. Pellentesque accumsan quis arcu ac luctus. Aenean luctus metus a elit tristique, non facilisis libero pharetra. Sed eu consectetur felis, quis venenatis neque. Pellentesque condimentum bibendum laoreet. Aenean ut malesuada turpis. Etiam a elementum risus. Fusce tincidunt arcu sit amet neque varius, eget euismod arcu porttitor. Curabitur pretium id ligula et efficitur. Nulla eget lacinia risus.
            </p>
            <p>
                Pellentesque ullamcorper turpis et turpis sagittis, quis aliquet lorem porta. Integer tristique molestie facilisis. Fusce velit risus, ultricies sit amet tellus a, suscipit rhoncus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis neque odio, a rhoncus nisl mattis eget. Suspendisse potenti. Ut lacinia lorem et metus elementum laoreet. Nulla facilisi. Aliquam lobortis consequat tortor id dignissim. Phasellus aliquet augue sed mi semper mattis ut ac nunc. Sed fringilla tempus felis ac lobortis. Cras molestie tempus diam, sit amet tempor sapien consequat ac.
            </p>
        </div>
    </div>
</div>

<div class="well">
    <p class="lead">Some leading text</p>
    <p>Pellentesque ullamcorper turpis et turpis sagittis, quis aliquet lorem porta. Integer tristique molestie facilisis. Fusce velit risus, ultricies sit amet tellus a, suscipit rhoncus sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis neque odio, a rhoncus nisl mattis eget. Suspendisse potenti. Ut lacinia lorem et metus elementum laoreet. Nulla facilisi. Aliquam lobortis consequat tortor id dignissim. Phasellus aliquet augue sed mi semper mattis ut ac nunc. Sed fringilla tempus felis ac lobortis. Cras molestie tempus diam, sit amet tempor sapien consequat ac.</p>
    <button class="btn btn-danger btn-lg" type="button">Button</button>
</div>